<%= month_calendar events: @schedules do |date, schedules| %>
  <%= date %>

  <% schedules.each do |schedule| %>
    <div>
      <%= link_to schedule.name, schedule, class: "link" %>
    </div>
  <% end %>
<% end %>
 

<h1>Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th>End time</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.name %></td>
        <td><%= readable_time(schedule.start_time) %></td>
        <td><%= readable_time(schedule.end_time) %></td>
        <td><%= schedule.user_id %></td>
        <td><%= link_to 'Show', schedule %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <br>

    <% end %>
  </tbody>
</table>

<trix-editor input="comment"></trix-editor>

<%= link_to 'New Schedule', new_schedule_path %>